@import 'font-awesome.scss';
@import"layout/section-carrousel.scss";

.logo {
	width:40px;
	height:40px;
	margin-left: 15px;
	margin-top: 12px;
	padding: 5px;
}

.nav-wrapper {
	background-color: #fff;

}
nav li a{
	color:black;
	font-size: 0.875em;
	font-weight: 900;
}

