#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 60%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  font-size: 30px;
  text-decoration: none;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding:8px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
}

.slides-navigation a:hover {
  background: #000;
}

.slides-navigation a.prev {
  left: 8px;
}
.slides-navigation a.next {
  right: 8px;
}


