header {

    .slides-container img{
    	width: 100vw !important;
    	height: 480px !important;
    }
    .slides-container .slider-img{
    	width:66% !important;
    }
    .slides-container .slider-img-2{
    	width:50% !important;
    }
	.logo {
		width:40px;
		height:40px;
		margin-left: 15px;
		margin-top: 12px;
		padding: 5px;
	}

	.nav-wrapper {
		background-color: #fff;

	}
	nav li a{
		color:black;
		font-size: 1em;
	}

	nav, .slides-navigation{
		background-color:transparent;
		box-shadow: none;

	}

	.buttom {
	border:2px solid grey;
	display:inline-block;
	border-radius:20px;
	width:250px;
	margin-top:15px;
	padding:10px;
	text-align: center;
	}

	h1 {
		font-size:4em;
	}
	.texto {
		margin-left:20%;
	}
	.texto1 {
		display:block;
		width:30em;
		font-size: 1em;
	}
}